
*{margin: 0;padding: 0;}
ul li{list-style: none;}
.top{height: 96px;width: 100%;margin: 0px auto;}
.head{height: 96px;width: 1200px;margin: 0px auto;/*border:1px solid gold;*/}
.head_two{float:right;margin-right: 226px;margin-top: 20px;}
.head_three{float:right;margin-right: 270px;margin-top: -45px;}
a{list-style: none;text-decoration: none;font-family: "微软雅黑";font-size: 16px;cursor: pointer;color: #7fb1d6;}


.main{height:664px;width: 100%;margin: 0px auto;}
.main_top{height:59px;width: 100%;margin: 0px auto;background-image: url(../img/18_02.png);background-color:#e7e2d2 ;}
ul{justify-content: space-between;display:flex;}
.top_one {height:11px;width: 1200px;margin: 0px auto;}
.top_one ul li a{line-height: 59px;}

#huodong{font-family: "微软雅黑";font-size: 16px;cursor: pointer;color: #999698;}
.main_one{height:1000px ;width:1200px;/*border: 1px solid green;*/margin: 0px auto;margin-top: -256px;}
.one_left{height:650px ;width:300px;/*border: 1px solid red;*/float: left;margin-left: 176px;}
.one_right{height:950px ;width:720px;/*border: 1px solid black;*/float: right;}
.one_left input{width: 208px;height:24px ;}
#input_one{margin-top: 20px;font-family: "微软雅黑";font-size: 16px;}
#input_two{margin-top: 20px;font-family: "微软雅黑";font-size: 16px;}
#input_three{margin-top: 20px;font-family: "微软雅黑";font-size: 16px;}
#baobao{margin-top: 20px;font-family: "微软雅黑";font-size: 16px;color: #a1a1a1;}
#yinsi{margin-top: 20px;font-family: "微软雅黑";font-size: 16px;color: #a1a1a1;margin-left: 50px;}
hr{margin-left: 50px;}
#chaxun{margin-top: 20px;border-radius:15px 15px 15px 15px;}

#weizhi{font-family: "微软雅黑";font-size: 16px;color: #a1a1a1;margin-left: 400px;margin-top: -30px;}
.right_top{width:61px ;height:68px ;background-color: #8e8e8e;float: left;}
.right_top_one{width:637px;height:68px ;background-color: #ffffff;float: right;border: 1px solid #8e8e8e;}
.right_top_one p{font-family: "微软雅黑";font-size: 14px;margin-right:0px ;color: #e4e4e4;}





.footer{height: 410px;width: 100%;/*border: 1px solid blue;*/margin: 0px auto;}
.footer_top{height: 48px;width: 510px;/*border: 1px solid blue;*/margin: 0px auto;}
#xia{justify-content: space-between;display:flex;line-height: 48px;}
#xia li{font-family: "微软雅黑";font-size: 16px;cursor: pointer;color: blue;}
.botton{background-color: #44b4dc;width:1200px ;height: 352px;margin: 0px auto;}
p{font-family: "微软雅黑";font-size: 14px;cursor: pointer;color: #ecf6fb;}
.fooetr_left{height:352px ;width:260px ;/*border: 1px solid blue;*/float: left;margin-left: 200px;}
#left_one{margin-top: 40px;}
#left_two{margin-top: 24px;}
#left_three{margin-top: 50px;}
#left_four{margin-left: 100px;margin-top: -40px;}
.footer_center{height:352px ;width:260px ;/*border: 1px solid blue;*/float: left;margin-left: 100px;}

#center_two{margin-top: 30px;}
#center_three{margin-top: 15px;}
#center_four{margin-top: 15px;}
#center_five{margin-top: 15px;}
#center_six{margin-top: 15px;}
.footer_right{height:352px ;width:260px ;/*border: 1px solid blue;*/float: left;margin-left: 100px;}
#right_two{margin-top: 15px;}
#right_three{margin-top: 15px;}
#right_four{margin-top: 22px;}
#right_five{margin-top: 20px;}

.botton_two{float: right;margin-top: -160px;}
.box{width: 100%;height: 352px;background-color: #44b4dc;}
